
<h5>LTC/USD:</h5>
<div id="chart-container-ltc"></div>

<h5>BTC/USD:</h5>
<div id="chart-container-btc"></div>

<script type="text/javascript" src="https://static.cryptowat.ch/assets/scripts/embed.bundle.js"></script>
<script type="text/javascript">
var ltc_chart = new cryptowatch.Embed('coinbase-pro', 'ltcusd', { height: 300, timePeriod: '3d', presetColorScheme: 'epaper' });
var btc_chart = new cryptowatch.Embed('coinbase-pro', 'btcusd', { height: 300, timePeriod: '3d', presetColorScheme: 'epaper' });
ltc_chart.mount('#chart-container-ltc');
btc_chart.mount('#chart-container-btc');
</script>
